<div class="bootstrap-wrapper">
    <div class="container">
      <div class="row" style="margin-top: 20px;" >
        <div class="col-md-6 offset-md-3">
          <mat-card class="card-width"  >
            <h1 class="text-center">Edit course here</h1>
            <form [formGroup]="editCourseForm" (ngSubmit)="updateCourse()">
  
              <!-- course name field -->
              <div id="courseName">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>course name</mat-label>
                  <input formControlName="courseName" matInput placeholder="Enter Course Name">
                </mat-form-field>
              </div>
  
              <!-- Course Duration -->
              <div id="courseDuration">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>course duration</mat-label>
                  <input formControlName="courseDuration" matInput type="number" placeholder="Enter Course Duration In Years">
                </mat-form-field>
              </div>
  
              <!-- course Timming -->
            <div id="courseTimming">
              <mat-form-field class="half-width" appearance="outline">
                <mat-label>course Start Time</mat-label>
                <!-- <input formControlName="courseTimming" matInput type="time" placeholder="Enter Start Time"> -->
                <input formControlName="courseStartTimming" matInput type="time" placeholder="Enter End Time">
              </mat-form-field>
              <mat-form-field class="half-width" style="margin-left: 10%;" appearance="outline">
                <mat-label>course End Time</mat-label>
                <input formControlName="courseEndTimming" matInput type="time" placeholder="Enter End Time">
              </mat-form-field>
            </div>
  
              <!-- Student number -->
              <div id="courseEnrolled">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Total Student Enrolled </mat-label>
                  <input formControlName="courseEnrolled" matInput type="number" placeholder="Enter No Of Student Enrolled For The Course">
                </mat-form-field>
              </div>
  
              <!-- Course Description -->
              <div id="courseDescription">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Course Description</mat-label>
                  <textarea formControlName="courseDescription" matInput></textarea>
                </mat-form-field>
              </div>
  
            </form>
          </mat-card>
          <div id="addCourse" style="position: absolute;right:20px;bottom: 10px;" >
            <a routerLink="/viewcourse"><button  (click)="updateCourse()" mat-raised-button color="warn" >Update</button></a>
          </div>
          
        </div>
      </div>
    </div>
  </div>
