
<br/>

<section class="container">
    <div class="card" >
        
     <div>
         <span style="margin-left:5px;">Username:madhu123</span>
         <span style="margin-left: 500px;">rating:5</span>
     </div>
     &nbsp;
     <div>
         review:Good college
     </div>        
    </div>

    <div class="card" >
        
        <div>
            <span style="margin-left:5px;">Username:madhu123</span>
            <span style="margin-left: 500px;">rating:5</span>
        </div>
        &nbsp;
        <div>
            review:Good college
        </div>        
       </div>
    
</section>