
<br/>
<app-search></app-search>
<button mat-raised-button color="primary" style="margin-left: 50px;" [routerLink]="'add'"><mat-icon>add_circle_outline</mat-icon>Add Course</button>
<br/>
<br/>
<section class="container">
    <div class="card" >
        <div class="card-image">
            
            
            <div >
         
                <img class="blurimage image"   src="assets/course.jpg" alt="college.jpg"  /><div class="center"></div>
            </div>
            </div>
        <div style="font-size: 13px; margin-top: 6px;" ><b>college name: veltech rr rangarajan and sgunthala tenlology and college</b></div>
        <div style="margin-top: 5px; font-size: 20px;">computer and science Engineering</div>
        <div class="desc" style="margin-top: 50px;">
            <p>Description ekmefk egnegie g ge geijgne k e gheigu ehiugmvdfkjn dk divn dv dkndiruir vfnv r vruirnvr</p></div>
             <div class="set" style="margin-top: 90px;" >
            
            <span class="child" >courseDuration</span>
            <span class="child" style="padding-left: 150px;">
            <button  mat-icon-button style="color: #00C851;">
                <mat-icon >mode_edit</mat-icon>
            </button>
            <button  mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
            </button></span>
        </div>
    </div>
    
</section>

