
.full-width{
    width: 100%;
}
.half-width{
    width: 45%;
}
.card-width{

    width: 500px;
    height: 430px;
    /* display: block; */
    margin-left:auto;
    margin-right:auto;  
    vertical-align:middle;

}
