<br/>
<app-search></app-search>
<button mat-raised-button color="primary" style="margin-left: 50px;" [routerLink]="'add'"><mat-icon>add_circle_outline</mat-icon>Add Institute</button>
<br/>
<br/>

<section class="container">
    <div class="card" *ngFor="let user of institutes| filter:searchtext ">
        <div class="card-image">
            
            <img class="image" *ngIf="user.imageUrl" src="assets/college.jpg" alt="college.jpg"  />
            <div *ngIf="!user.imageUrl">
         
                <img class="blurimage image"  style="filter: blur(5px);" src="assets/college.jpg" alt="college.jpg"  /><div class="center"><input type="file"/></div>
            </div>
            </div>
        
        <div style="text-align: center;"><b>{{user.instituteName}}</b></div>
        <div class="desc">
        <p>{{user.instituteDescription}}</p></div>

        <div style="margin-top: 40px;overflow:auto;">Place:{{user.instituteAddress}}</div>

        <div class="set" >
            
            <span class="child" >rating:4.5</span>
            <span class="child" style="padding-left: 150px;">
            <button [routerLink]="user.instituteId" mat-icon-button style="color: #00C851;">
                <mat-icon >mode_edit</mat-icon>
            </button>
            <button (click)="deleteInstitute(user.instituteId)" mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
            </button></span>
        </div>
    </div>
    
</section>